---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tags from "../../components/Tags.astro";
import Article from "../../components/Article.astro";
import { getAllPosts } from "../../lib/posts.js";

console.log(">>> IN SLUG");

export const getStaticPaths = async () => {
  console.log("SLUG getStaticPaths()");
  const allPosts = (await getAllPosts())
    .filter((a: { date: string }) => new Date(a.date) <= new Date())
    .sort((a: { date: any }, b: { date: string }) =>
      b.date.localeCompare(a.date)
    );

  console.log("allPosts: " + JSON.stringify(allPosts) + "\n\n");

  const allTags = [
    ...new Set(
      allPosts.reduce((prev: any[], post: { tags: string[] }) => {
        prev = prev.concat(post.tags);
        return prev;
      }, [])
    ),
  ];

  console.log("allTags: " + allTags + "\n\n");

  return allTags.map((tag) => {
    const postsForTag = allPosts.filter((post: { tags: unknown[] }) =>
      post.tags.includes(tag)
    );
    console.log("tag " + tag + "\n\n");
    console.log("allPosts: " + JSON.stringify(allPosts) + "\n\n");
    console.log(
      "postsForTag [" + tag + "]: " + JSON.stringify(postsForTag) + "\n\n"
    );
    return {
      params: { slug: tag },
      props: { allTags, postsForTag },
    };
  });
};

const { slug } = Astro.params;
const { allTags, postsForTag } = Astro.props;

console.log("slug: " + slug);
console.log("allTags " + JSON.stringify(allTags));
console.log("postsForTag " + JSON.stringify(postsForTag));

console.log("<<< IN SLUG");
---

<BaseLayout
  title={`Tag Archive ${slug}`}
  description={`This is my dev blog ${slug}`}
>
  <header class="container mx-auto my-6">
    <h1 class="mb-8 text-4xl font-extrabold text-gray-900 dark:text-white">
      My {slug} dev blog
    </h1>
  </header>

  <Tags />

  <section
    class="mb-10 -mx-4 bg-white border-t border-b border-gray-200 dark:bg-dark dark:border-slate-700"
  >
    <div class="container md:mx-auto">
      <div class="grid grid-cols-1 mx-0 md:-mx-4 md:grid-cols-2 md:py-4">
        {
          postsForTag ? (
            postsForTag.map((article: any) => <Article article={article} />)
          ) : (
            <b>Failed to fetch posts for tag!</b>
          )
        }
      </div>
    </div>
  </section>
</BaseLayout>
