---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="There are things that are not; this is one of them"
  description="There are things that are not; this is one of them"
>
  <header class="container mx-auto my-6">
    <h1 class="mb-8 text-4xl font-extrabold text-gray-900 dark:text-white">
      Empty space and time.
    </h1>
  </header>

  <section
    class="py-8 mb-10 -mx-4 bg-white border-t border-b border-gray-200 dark:bg-dark dark:border-slate-700"
  >
    <div class="container md:mx-auto">
      <article
        class="mx-4 prose prose-lg md:prose-xl dark:prose-invert md:mx-auto"
      >
        <img src="/404.jpg" class="max-w-full h-auto" alt="..." />
        <p>There's nothing here save yellow walls and fluorescent lights</p>
        <p>
          Go back to the <a href="<my blog>">homepage</a>.
        </p>
      </article>
    </div>
  </section>
</BaseLayout>
