---
import BaseLayout from "../layouts/BaseLayout.astro";
import Article from "../components/Article.astro";
import { getAllPosts } from "../lib/posts.js";

const allPosts = (await getAllPosts())
  .filter((a: { date: string }) => new Date(a.date) <= new Date())
  .sort((a: { date: any }, b: { date: string }) =>
    b.date.localeCompare(a.date)
  );
const latest = allPosts.slice(0, 4);
const topPost = allPosts.filter((a: { top: any }) => a.top);
---

<!-- TODO: give the blog a name; have two domains, one a technical name and the other www.sebastianmiga.com, sebastianmiga.com, sebastianmiga.de -->
<BaseLayout
  title="Basti's blog"
  description="This blog is a collection of solutions to problems in my day to day work"
  showSubscribe={false}
>
  <header class="container mx-auto my-6">
    <h1 class="mb-8 text-4xl font-extrabold text-gray-900 dark:text-white">
      Technical diary
    </h1>
    <p class="text-xl leading-8 text-gray-600 dark:text-slate-400">
      Sup! Web dev here with a keen interest in react/node and anything in
      between.
    </p>
  </header>

  <section
    class="border-gray-200 md:bg-white md:dark:bg-dark md:-mx-4 border-top-0 md:border-t md:dark:border-slate-700 md:pt-8"
  >
    <div class="container mx-auto">
      <h2
        class="mb-2 text-sm tracking-wider text-gray-700 uppercase md:normal-case dark:text-white md:mb-0 md:text-2xl md:font-bold"
      >
        My 4 latest articles
      </h2>
    </div>
  </section>
  <section
    class="-mx-4 bg-white border-t border-gray-200 dark:border-slate-700 dark:bg-dark md:border-t-0 md:dark:border-slate-700"
  >
    <div class="container md:mx-auto">
      <div class="grid grid-cols-1 mx-0 md:-mx-4 md:grid-cols-2">
        {latest.map((article: any) => <Article article={article} />)}
      </div>
    </div>
  </section>
  <section
    class="mt-6 border-gray-200 md:mt-0 md:bg-white md:dark:bg-dark md:-mx-4 border-top-0 md:dark:border-slate-700 md:pt-8"
  >
    <div class="container mx-auto">
      <h2
        class="mb-2 text-sm tracking-wider text-gray-700 uppercase md:normal-case dark:text-white md:mb-0 md:text-2xl md:font-bold"
      >
        Some of my all-time favorites
      </h2>
    </div>
  </section>
  <section
    class="mb-10 -mx-4 bg-white border-t border-b border-gray-200 dark:border-slate-700 dark:bg-dark md:border-t-0 md:dark:border-slate-700"
  >
    <div class="container md:mx-auto">
      <div class="grid grid-cols-1 mx-0 md:-mx-4 md:grid-cols-2">
        {topPost.map((article: any) => <Article article={article} />)}
      </div>
    </div>
    <div class="flex px-4 py-4 text-left md:justify-center">
      <a
        href="/archive/"
        class="font-medium text-barbie hover:underline underline-offset-2"
        >See all {allPosts.length} articles
      </a>
    </div>
  </section>
</BaseLayout>
