---
import Tag from "../components/Tag.astro";
import { getAllPosts } from "../lib/posts";

console.log(">>>IN TAGS");

const allPosts = (await getAllPosts()).filter(
  (a: { date: string }) => new Date(a.date) <= new Date()
);

const allTags = [
  ...new Set(
    allPosts.reduce((prev: string | any[], post: { tags: any }) => {
      prev = prev.concat(post.tags);
      return prev;
    }, [])
  ),
];

const { slug } = Astro.params;

console.log("allTags: " + allTags);
console.log("slug: " + slug);
console.log("<<< IN TAGS");
---

<nav class="container mx-auto mb-4" aria-label="Tag">
  <ul class="flex flex-wrap">
    <li>
      <a
        href="/archive/"
        class=`${slug === undefined ? 'bg-indigo-500 text-white' : 'bg-indigo-200'} block p-2 mr-2 mb-2 text-sm rounded-xl font-medium`
        >All
      </a>
    </li>
    {allTags.map((tag) => <Tag tag={tag} active={slug === tag} />)}
  </ul>
</nav>
